/*asterisco*/
body {
    font-family: 'Inter', sans-serif;

    background-color: rgb(200, 200, 200);
}

h1 {
    font-weight:normal;
    font-size: 50px;
    color: blue;
    
}

time {
    font-size: 15px;
}
h3 {
    font-size: 20px;
    font-weight: 300;
}

h4 {
    font-size: 18px;
    font-weight: 300;
}

a {
    color:black;

}

a:hover {
    color: blue;
}